<form role="search" method="get" id="searchform" action="{{site.url}}">
	<fieldset>
		<legend>Formulaire de recherche</legend>
		<p>
			<input type="text" value="" name="s" id="s" placeholder="{{ __('Recherche', '‡jm-timber-starter-theme')|e }}">
		</p>
		<p>
			<input type="submit" id="searchsubmit" value="{{ __('Search', 'jm-timber-starter-theme')|e }}" class="button postfix">
		</p>
	</fieldset>
</form>