{% extends "page.twig" %}

	{% block title %}

		<h1>Oups, that's the 404 page!</h1>

	{% endblock %}

	{% block content %}

		<p>Sorry, we couldn't find what you're looking for.</p>
		
		{% include "partials/searchform.twig" %} 

	{% endblock %}